{% extends "::base.html.twig" %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block body %}
Total Likes - </br>
<br><h3>{{ restaurant.name }}</h3></br>
<br>Address -{{ restaurant.address }}</br>
{% if restaurant.longitude %}
	<br>Longitude - {{ restaurant.longitude }}</br>
{% endif %}
{% if restaurant.lattitude %}
	<br>Lattitude - {{ restaurant.lattitude }}</br>
{% endif %}
<br>Locality - {{ restaurant.locality }}</br>
<br>City - {{ restaurant.city }}</br>
<br>Country - {{ restaurant.country }}</br>

<button name="button" type="button">Like</button>
<button name="button" type="button">Share</button>
<a href="{{ path('_get_restaurant_pdf', {'restaurantId': restaurant.id, '_format': 'pdf'})}}"> Download </a>
{% endblock %}
